/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #b7b7b7;
}

::-webkit-scrollbar-thumb {
    background: #646464;
}

::-webkit-scrollbar-thumb:hover {
    background: #585858;;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

/* Small Screen */
@media (min-width: 576px) {
    .container {
        width: 560px;
    }
}

/* Medium Screen */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Large Screen */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* X-Large Screen */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */

/* Start Section One */
/* ====Start Nav==== */
.section-one {
    background-color: #E6F0FF;
    height: 736px;
}

.section-one .container{
    padding-top: 38px;
}

.section-one .container nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-one .container nav .logo-menu {
    display: flex;
    align-items: center;
    gap: 65px;
}

.section-one .container nav .logo-menu img {
    cursor: pointer;
}

.section-one .container nav .btns .toggle-menu {
    display: none;
    color: #0F1B4C;
    font-size: 24px;
    cursor: pointer;
    transition: all 100ms linear;
}

.section-one .container nav .btns .toggle-menu:hover {
    color: #7398f7;
}

.section-one .container nav .logo-menu ul{
    display: flex;
    gap: 30px;
}

.section-one .container nav .logo-menu ul li a {
    text-decoration: none;
    color: #4F5361;
    font-size: 14px;
    font-weight: 500;
    transition: all 200ms ease;
}

.section-one .container nav .logo-menu ul li a:hover {
    color: rgb(73, 142, 233);
}

.section-one .container nav .btns {
    display: flex;
    align-items: center;
}

.section-one .container nav .btns a{
    color: #0F1B4C;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 18px;
    transition: all 200ms ease;
}

.section-one .container nav .btns .one:hover{
    color: rgb(84, 141, 216);
}

.section-one .container nav .btns .two {
    color: #FFFFFF;
    background-color: #0F1B4C;
    border-radius: 8px;
    width: 98px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #0F1B4C;
    transition: all 200ms ease;
}

.section-one .container nav .btns .two:hover {
    background-color: transparent;
    color: rgb(65, 130, 214);
    border-color: rgba(84, 141, 216, 0.637);
}
/* ====End Nav==== */
/* ====Start Hero==== */
.section-one .container .hero {
    display: flex;
    gap: 67px;
    justify-content: space-between;
}

.section-one .container .hero .col-1 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 130px;
}

.section-one .container .hero .col-1 h5 {
    max-width: 250px;
    color: #687690;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.section-one .container .hero .col-1 h1 {
    width: 559px;
    max-width: 559px;
    color: #000336;
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 30px;
    cursor: pointer;
}

.section-one .container .hero .col-1 h1::after {
    content: "";
    display: block;
    width: 0;
    height: 10px;
    background: #000336;
    transition: all 350ms ease;
}

.section-one .container .hero .col-1 h1:hover::after {
    width: 100%;
}

.section-one .container .hero .col-1 h6 {
    max-width: 550px;
    color: #5A6473;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 40px;
}
.section-one .container .hero .col-1 a {
    color: #FFFFFF;
    background-color: #0F1B4C;
    font-size: 14px;
    font-weight: 500;
    max-width: 170px;
    height: 50px;
    border-radius: 12px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0F1B4C;
    transition: all 200ms ease;
}

.section-one .container .hero .col-1 a:hover {
    background-color: transparent;
    color: rgb(65, 130, 214);
    border-color: rgba(84, 141, 216, 0.637);
}

.section-one .container .hero .col-2 {  
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-one .container .hero .col-2 img {
    width: 575px;
    margin-top: 6px;
    pointer-events: none;
}

@media (max-width: 1260px) {
    .section-one  {
        height: 600px;
    }
    .section-one .container .hero .col-2{
        margin-top: 0;
    }
    .section-one .container .hero .col-2 img {
        width:  390px;
    }
    .section-one .container .hero .col-1 {
        margin-top: 100px;
    }
}
@media (max-width: 1100px) {
    .section-one .container .hero .col-1 h1 {
        font-size: 50px;
        max-width: 450px;
    }
    .section-one .container .hero .col-1 h6 {
        font-size: 14px;
    }
}
@media (max-width: 1000px) {
    .section-one {
        height: 550px;
    }
    .section-one .container nav .logo-menu {
        gap: 30px;
    }
    .section-one .container .hero .col-2{
        margin-top: 0;
    }
    .section-one .container .hero .col-2 img {
        width: 292px;
        height: 400px;
    }
    .section-one .container .hero .col-1 h1 {
        font-size: 35px;
        max-width: 400px;
    }
}
@media (max-width: 795px) {
    .section-one {
        height: 550px;
    }
    .section-one .container nav .logo-menu {
        gap: 15px;
    }
    .section-one .container .hero .col-2 img {
        width: 240px;
    }
    .section-one .container .hero .col-1 h5 {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .section-one .container nav .logo-menu ul {
        display: none;
    }
    .section-one .container nav .btns a{
        display: none;
    }
    .section-one .container nav .btns .two{
        display: none;
    }
    .section-one .container nav .btns .toggle-menu{
        display: flex;
    }
    .section-one .container .hero .col-1 h1 {
        max-width: 299px;
        padding-bottom: 15px;
        font-size: 34px;
    }
    .section-one .container .hero .col-1 h6 {
        padding-bottom: 20px;
        max-width: 280px;
    }
}
@media (max-width: 680px) {
    .section-one .container .hero {
        gap: 20px;
    }
}
@media (max-width: 585px) {
    .section-one  {
        height: 760px;
    }
    .section-one .container .hero {
        flex-direction: column-reverse;
        align-items: center;
        gap: 0px;
    }
    .section-one .container .hero .col-1 {
        margin: 0;
        align-items: center;
    }
    .section-one .container .hero .col-1 h1 {
        text-align: center;
    }
    .section-one .container .hero .col-1 h6 {
        text-align: center;
    }
    .section-one .container .hero .col-1 a {
        width: 100%;
        min-width: 90%;
    }
    .section-one .container .hero .col-2 {
        max-height: 360px;
    }
    .section-one .container .hero .col-2 img {
        margin-top: -10px;
        width: 220px;
        max-height: 350px;
    }

}
@media (max-width: 315px) {
    .section-one {
        max-height: 700px;
        overflow: hidden;
    }
    .section-one .container .hero .col-2 img {
        padding-top: 60px;
        width: 180px;
    }
    .section-one .container .hero .col-1 h5 {
        font-size: 14px;
    }
    .section-one .container .hero .col-1 h1 {
        max-width: 200px;
        font-size: 20px;
    }
    .section-one .container .hero .col-1 h6 {
        font-size: 12px;
        min-height: 140px;
        max-width: 245px;
    }
}
@media (max-width: 200px) {
    .section-one {
        max-height: 670px;
    }
    .section-one .container .hero .col-1 h5 {
        text-align: center;
    }
    .section-one .container .hero .col-1 h1 {
        max-width: 165px;
        font-size: 16px;
    }
    .section-one .container .hero .col-1 h6 {
        font-size: 10px;
        padding-left: 15px;
        padding-right: 15px;
        height: 160px;
        overflow: hidden;
    }
    .section-one .container .hero .col-1 a {
        width: 50%;
        min-width: 50%;
        font-size: 10px;
        margin-top: 5px;
    }
    .section-one .container .hero .col-2 img {
        padding-top: 60px;
        width: 135px;
    }
}
@media (max-width: 200px) {
    .section-one{
        height: 700px;
    }
    .section-one .container .hero .col-1 h1 {
        width: 130px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .section-one .container .hero .col-1 a {
        min-width: 75%;
    }
    .section-one .container .hero .col-2 {
        height: 235px;
    }
    .section-one .container .hero .col-2 img {
        padding-top: 20px;
        width: 125px;
    }
}
/* ====Start Hero==== */
/* End Section One */

/* Start Section two */
.section-two {
    margin-top: 65px;
}

.section-two .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
}

.section-two .container .row-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 43px;
}

.section-two .container .row-1 .col-1{
    display: flex;
    flex-direction: column;
    gap: 23px;
    min-width: 200px;
}

.section-two .container .row-1 .col-1 img {
    width: 107px;
    pointer-events: none;
}

.section-two .container .row-1 .col-1 p {
    font-size: 16px;
    color: #7D8589;
    font-weight: 500;
    text-align: left;
}

.section-two .container .row-1 .col-2{
    display: flex;
    flex-direction: column;
    gap: 14.5px;
    align-items: flex-end;
    min-width: 260px;
}

.section-two .container .row-1 .col-2 .stars {
    display: flex;
    flex-direction: row;
}

.section-two .container .row-1 .col-2 .stars .star-icon{
    width: 20.3px;
    height: 18.85px;
    cursor: pointer;
    color: #ffc259;
    transition: all 200ms ease;
}

.section-two .container .row-1 .col-2 .stars .star-icon:hover{color: #ff9900;}

.section-two .container .row-1 .col-2 p{
    font-size: 16px;
    color: #7D8589;
    font-weight: 500;
    text-align: right;
}

.section-two .container .row-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 41px;
}

.section-two .container .row-2 img{
    transition: all 250ms ease;
    width: 110px;
    cursor: pointer;
    filter: grayscale(100%);
}

.section-two .container .row-2 img:hover {
    transform: scale(1.15);
    filter: grayscale(0%);
}

@media (max-width: 975px) {
    .section-two .container .row-2 {
        gap: 1rem;
    }
    .section-two .container .row-2 img{
        width:100px;
    }
}
@media (max-width: 768px) {
    .section-two .container .row-1 {
        gap: 2rem;
    }
    .section-two .container .row-2 {
        gap: 1rem;
    }
    .section-two .container .row-2 img{
        width:80px;
    }
    .section-two .container .row-1 .col-1 {
        width: 100%;
    }
    .section-two .container .row-1 .col-2 {
        width: 100%;
    }
}
@media (max-width: 590px) {
    .section-two .container {
        gap: 60px;
    }
    .section-two .container .row-2 {
        display: grid;
        grid-template-columns: 25% 25% 25%;
        justify-content: center;
    }
}
@media (max-width: 590px) {
    .section-two {
        margin-top: 30px;
    }
    .section-two .container .row-1 {
        flex-direction: column;
    }
    .section-two .container .row-1 .col-1 {
        align-items: center;
    }
    .section-two .container .row-1 .col-2 {
        align-items: center;
    }
}
@media (max-width: 375px) {
    .section-two {
        margin-top: 20px;
        overflow: hidden;
    }
    .section-two .container {
        gap: 45px;
    }
    .section-two .container .row-1 .col-1 {
        max-width: 250px;
        text-align: center;
    }
    .section-two .container .row-1 .col-2 {
        max-width: 220px;
    }
    .section-two .container .row-2 {
        grid-template-columns: 50%;
        justify-items: center;
    }
}
@media (max-width: 375px) {
    .section-two .container .row-1 .col-1 p {
        font-size: 12px;
        width: 115px;
    }
    .section-two .container .row-1 .col-2 p {
        width: 115px;
        text-align: center;
    }
}
/* End Section two */

/* Start Section Three */
.section-three {
    margin-top: 40px;
    padding-top: 79px;
    padding-bottom: 79px;
}

.section-three .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-three .container .row-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
}

.section-three .container .row-1 span {
    width: 41px;
    height: 4px;
    background-color: #000339;
    border-radius: 12px;
}

.section-three .container .row-1 h1{
    margin-top: 10px;
    font-size: 35px;
    font-weight: 700;
    color: #000339;
    text-align: center;
    cursor: pointer;
}

.section-three .container .row-1 h1::after {
    content: '';
    display: block;
    width: 0;
    height: 6px;
    margin: auto;
    background: #000339;
    transition: all 300ms ease;
}

.section-three .container .row-1 h1:hover::after {
    width: 100%;
}

.section-three .container .row-1 p {
    margin-top: 20px;
    width: 450px;
    text-align: center;
    font-size: 16px;
    color: #5A6473;
}

.section-three .container .row-2 {
    margin-top: 70px;
    display: flex;
    align-items: center;
    gap: 140px;
}

.section-three .container .row-2 .col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-three .container .row-2 .col-1:hover .section-3-img{
    transform: scale(1.2);
}

.section-three .container .row-2 .col-1:hover a img{
    transform: translateX(8px);
}

.section-three .container .row-2 .col-1 img {
    transition: all 200ms ease;
    width: 47px;
    cursor: pointer;
}

.section-three .container .row-2 .col-1 h3 {
    font-size: 20px;
    font-weight: 500;
    color: #3B3C45;
    margin-top: 26px;
    text-align: center;
    cursor: pointer;
}

.section-three .container .row-2 .col-1 a {
    font-size: 14px;
    font-weight: 600;
    color: #0689FF;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    display: flex;
}

.section-three .container .row-2 .col-1 a img {
    width: 24px;
}

.section-three .container .row-3 {
    margin-top: 48px;
    background: #0F1B4C;
    border: 2px solid #0F1B4C;
    min-width: 170px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px; 
    transition: all 200ms ease;
    cursor: pointer;
}

.section-three .container .row-3:hover{
    background-color: transparent;
    border-color: #0689FF;
}

.section-three .container .row-3 a{
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #FFFFFF;
    transition: all 200ms ease;
}

.section-three .container .row-3:hover a{
    color: #0689FF;
}

@media (max-width: 565px){
    .section-three{
        padding-top: 50px;
    }
    .section-three .container .row-2 {
        gap: 50px;
    }
}
@media (max-width: 475px) {
    .section-three{
        margin-top: 0px;
        padding-top: 40px;
    }
    .section-three .container .row-1 p {
        width: 330px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .section-three .container .row-2 {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 350px) {
    .section-three{
        margin-top: 0px;
        padding-top: 40px;
    }
    .section-three .container .row-1 h1 {
        font-size: 30px;
    }
    .section-three .container .row-1 p {
        width: 238px;
    }
    .section-three .container .row-2 {
        gap: 30px;
    }
}
@media (max-width: 255px) {
    .section-three .container .row-1 h1 {
        font-size: 25px;
    }
    .section-three{
        margin-top: 0px;
    }
    .section-three .container .row-1 p {
        width: 180px;
    }
    
}
@media (max-width: 220px) {
    .section-three .container .row-1 h1 {
        font-size: 24px;
    }
    .section-three .container .row-1 p {
        font-size: 14px;
        width: 165px;
    }
    .section-three .container .row-3 {
        min-width: 150px;
    }
}
@media (max-width: 180px) {
    .section-three {
        overflow: hidden !important;
    }
    .section-three .container .row-1 h1 {
        width: 100px;
    }
    .section-three .container .row-1 p {
        width: 130px;
        font-size: 14px;
    }
    .section-three .container .row-3 {
        min-width: 115px;
    }
    .section-three .container .row-3 a{
        font-size: 11px;
    }
    .section-three .container .row-2 .col-1 a {
        font-size: 12px;
    }
}
/* End Section Three */

/* Start Section Four */
.section-four {
    background-color: #F5FAFE;
    margin-top: 41px;
    padding-top: 110px;
    padding-bottom: 110px;
}

.section-four .container {
    display: flex;
    flex-direction: column;
    gap: 68px;
}

.section-four .container .row-1{
    display: flex;
    justify-content: space-between;
}

.section-four .container .row-1 .col-1 {
    display: flex;
    flex-direction: column;
}

.section-four .container .row-1 .col-1 h1 {
    font-size: 35px;
    font-weight: 600;
    color: #000339;
    cursor: pointer;
}

.section-four .container .row-1 .col-1 h1::after {
    content: "";
    display: block;
    width: 0;
    height: 6px;
    background: #000339;
    transition: all 300ms ease;
}

.section-four .container .row-1 .col-1 h1:hover::after {
    width: 92%;
}

.section-four .container .row-1 .col-1 p {
    font-size: 16px;
    font-weight: 400;
    color: #5A6473;
}

.section-four .container .row-1 .col-2 {
    display: flex;
    align-items: flex-end;
}

.section-four .container .row-1 .col-2 a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #0689FF;
    display: flex;
    gap: 8px;
}

.section-four .container .row-1 .col-2 a img {
    width: 24px;
    transition: all 200ms ease;
}

.section-four .container .row-1 .col-2 a:hover img {
    transform: translateX(6px);
}

.section-four .container .row-2{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.section-four .container .row-2 .card .card-content{
    width: 350px;
    height: 357px;
    background-color: #FFFFFF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    transition: all 200ms ease;
}

.section-four .container .row-2 .card .card-content:hover {
    box-shadow: 0px 0px 20px 2px #d3d3d399;
    transform: translateY(-2px);
}

.section-four .container .row-2 .card .card-content:hover .card-img img {
    filter: brightness(0.8);
    transform: scale(1.15);

}

.section-four .container .row-2 .card .card-content .card-img {
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;
}

.section-four .container .row-2 .card .card-content .card-img img {
    max-width: 350px;
    max-height: 227px;
    transition: all 300ms ease;
    cursor: pointer;
}

.section-four .container .row-2 .card .card-content .card-info {
    width: 350px;
    height: 130px;
    border-radius: 0px 0px 12px 12px;
    padding: 20px 0px 22px 20px;
}

.section-four .container .row-2 .card .card-content .card-info h4 {
    font-size: 20px;
    font-weight: 700;
    color: #000339;
    pointer-events: none;
}

.section-four .container .row-2 .card .card-content .card-info p {
    font-size: 14px;
    font-weight: 500;
    color: #A3A6AB;
    padding-top: 8px;
    text-align: left;
}

.section-four .container .row-2 .card .card-content .card-info .tags {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 23px;
    padding-right: 40px;
}

.section-four .container .row-2 .card .card-content .card-info .tags a {
    font-size: 14px;
    font-weight: 500;
    color: #4D4D52;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.section-four .container .row-2 .card .card-content .card-info .tags a img {
    transition: all 150ms ease;
}

.section-four .container .row-2 .card .card-content .card-info .tags a:hover {
    color: #148eff;
}

.section-four .container .row-2 .card .card-content .card-info .tags a:hover img {
    transform: scale(1.15);
}

@media (max-width:1200px) {
    .section-four .container .row-1 {
        justify-content: space-evenly;
    }
    .section-four .container .row-2 {
        justify-content: center;
    }
}
@media (max-width:768px) {
    .section-four .container .row-1 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 25px;
    }
    .section-four .container .row-1 .col-1 {
        text-align: center;
    }
    .section-four .container .row-2 .card .card-content{
        width: 280px;
        height: 325px;
    }
    .section-four .container .row-2 .card .card-content .card-img img {
        width: 100%;
    }
    .section-four .container .row-2 .card .card-content .card-info {
        width: 280px;
        height: 145px;
    }
    .section-four .container .row-2 .card .card-content .card-info .tags {
        padding-right: 20px;
    }
    .section-four .container .row-2 .card .card-content .card-info .tags a {
        font-size: 12px;
    }
}

@media (max-width:755px) {
    .section-four .container .row-1 .col-1 h1:hover::after {
        width: 98%;
    }
}

@media (max-width:300px) {
    .section-four .container .row-2 .card .card-content {
        width: 230px;
    }
    .section-four .container .row-2 .card .card-content .card-img img {
        width: 100%;
    }
    .section-four .container .row-2 .card .card-content .card-info {
        width: 230px;
    }
    .section-four .container .row-2 .card .card-content .card-info .tags {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
    }
}
@media (max-width:250px) {
    .section-four .container .row-1 .col-2 a {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .section-four .container .row-2 .card .card-content {
        width: 180px;
    }
    .section-four .container .row-2 .card .card-content .card-img img {
        width: 100%;
    }
    .section-four .container .row-2 .card .card-content .card-info {
        width: 180px;
    }
    .section-four .container .row-2 .card .card-content .card-info .tags {
        justify-content: flex-start;
    }
}
@media (max-width:200px) {
    .section-four .container .row-1 .col-1 h1 {
        font-size: 25px;
    }
    .section-four .container .row-1 .col-2 a {
        font-size: 14px;
    }
    .section-four .container .row-2 .card .card-content {
        width: 140px;
    }
    .section-four .container .row-2 .card .card-content .card-img img {
        width: 100%;
    }
    .section-four .container .row-2 .card .card-content .card-info {
        width: 140px;
        height: 230px;
    }
    .section-four .container .row-2 .card .card-content .card-info .tags {
        justify-content: flex-start;
    }
}
@media (max-width:160px) {
    .section-four .container .row-2 .card .card-content {
        width: 130px;
    }
    .section-four .container .row-2 .card .card-content .card-img img {
        width: 100%;
    }
    .section-four .container .row-2 .card .card-content .card-info {
        width: 130px;
    }
}
/* End Section Four */

/* Start Section Five */
.section-five {
    margin-top: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-five .container {
    display: flex;
    flex-direction: column;
    gap: 110px;
}

.section-five .container .row-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-five .container .row-1 .col-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: relative;
}

.section-five .container .row-1 .col-1 .box {
    background-color: #FFFFFF;
    width: 239px;
    height: 252px;
    border-radius: 12px;
    border: 1px solid rgba(207, 207, 207, 0.69);
    position: absolute;
    padding-top: 45px;
    padding-bottom: 40px;
    padding-left: 22px;
    padding-right: 22px;
    top: 0;
    right: 380px;
    transition: all 200ms ease;
}

.section-five .container .row-1 .col-1 .box:hover {
    box-shadow: 0px 0px 20px 2px rgba(134, 134, 134, 0.233);
    transform: translateY(-1px);
}

.section-five .container .row-1 .col-1 .box .row-1 h4{
    font-size: 26px;
    font-weight: bold;
    background: linear-gradient(266deg, rgba(34,193,195,1) 0%, rgba(94,213,105,1) 42%, rgba(181,213,76,1) 70%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: all 200ms ease;
}

.section-five .container .row-1 .col-1 .box .row-1 h4:hover {
    background: linear-gradient(128deg, 
    rgba(34,193,195,1) 0%,
    rgba(94,213,105,1) 42%,
    rgba(181,213,76,1) 70%,
    rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-five .container .row-1 .col-1 .box .row-1 img {
    transition: all 200ms ease;
}

.section-five .container .row-1 .col-1 .box .row-1 img:hover {
    transform: scale(1.15);
}

.section-five .container .row-1 .col-1 .box .row-2 p {
    font-size: 12px;
    color: #A7A7A7;
    font-weight: 400;
    padding-top: 8px;
}

.section-five .container .row-1 .col-1 .box .row-3 {
    background-color: #E9E9E9;
    width: 194px;
    height: 1.2px;
    margin-top: 25px;
}

.section-five .container .row-1 .col-1 .box .row-4 {
    padding-top: 15px;
}

.section-five .container .row-1 .col-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.section-five .container .row-1 .col-2 .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 309px;
}

.section-five .container .row-1 .col-2 .text span {
    width: 41px;
    height: 4px;
    background-color: #000339;
    border-radius: 12px;
}

.section-five .container .row-1 .col-2 .text h4 {
    font-size: 35px;
    font-weight: 600;
    color: #000339;
    line-height: 45px;
    cursor: pointer;
}

.section-five .container .row-1 .col-2 .text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; 
    color: #5A6473;
}

.section-five .container .row-2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
}

.section-five .container .row-2 .col h1{
    font-size: 64px;
    font-weight: 600;
    color: #000339;
    cursor: pointer;
    transition: all 200ms ease;
}

.section-five .container .row-2 .col h1:hover {
    transform: scale(1.05);
    color: rgb(0, 35, 102);
}

.section-five .container .row-2 .col p{
    font-size: 18px;
    font-weight: 500;
    color: #7B8087;
    text-align: center;
    pointer-events: none;
}

@media (max-width: 1240px) { 
    .section-five .container .row-1 {
        gap: 50px;
    }
    .section-five .container .row-1 .col-1 {
        width: 100%;
    }
    .section-five .container .row-1 .col-1 .box {
        right: 680px;
    }
    .section-five .container .row-1 .col-1 .box .row-2 p {
        text-align: left;
    }
    .section-five .container .row-1 .col-2 {
        width: 100%;
    }
    .section-five .container .row-1 .col-2 .text {
        align-items: center;
        width: 400px;
    }
    .section-five .container .row-1 .col-2 .text h4,p {
        text-align: center;
    }
}
@media (max-width: 1200px) {
    .section-five .container .row-1 .col-1 .box {
        right: 580px;
    }
}
@media (max-width: 1000px) {
    .section-five .container .row-1 .col-1 {
        flex-direction: column;
        gap: 5px;
    }
    .section-five .container .row-1 .col-1 .box {
        position: unset;
        width: 400px;
    }
    .section-five .container .row-1 .col-1 .box .row-2 p {
        font-size: 14px;
    }
    .section-five .container .row-1 .col-1 .box .row-3 {
        width: 100%;
        margin-top: 10px;
    }
    .section-five .container .row-1 .col-1 .box .row-4{
        padding-top: 5px;
    }
    .section-five .container .row-1 .col-1 .box .row-4 img{
        width: 300px;
    }
}
@media (max-width: 500px) {
    .section-five {
        overflow: hidden;
    }
}
/* End Section Five */

/* Start Section Six */
.section-six {
    height: 410px;
    margin-top: 50px;
    display: flex;
    align-items: flex-end;
}

.section-six .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-six .container .row-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 80px;
    background-color: #002366;
    width: 1110px;
    height: 370px;
    border-radius: 20px;
    gap: 200px;
}

.section-six .container .row-1 .text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section-six .container .row-1 .text h2{
    font-size: 35px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
}

.section-six .container .row-1 .text h2::after {
    content: "";
    display: block;
    width: 0;
    height: 6px;
    background: #FFFFFF;
    transition: 300ms ease;
}

.section-six .container .row-1 .text h2:hover::after {
    width: 92%;
}

.section-six .container .row-1 .text p {
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
}

.section-six .container .row-1 .text a {
    text-decoration: none;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    color: #002366;
    display: flex;
    width: 150px;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
    border-radius: 12px;
    margin-top: 10px;
    transition: all 250ms cubic-bezier(0.46, 0.64, 0.32, 1.18);
}

.section-six .container .row-1 .text a:hover {
    background-color: transparent;
    color: #FFFFFF;
}

.section-six .container .row-1 img {
    margin-bottom: 40px;
    pointer-events: none;
}

@media (max-width: 1200px) {
    .section-six .container .row-1 img {
        margin-bottom: 0px;
        width: 197px;
    }
}
@media (max-width: 1000px) {
    .section-six .container .row-1 {
        padding: 0;
    }
    .section-six .container .row-1 .text {
        gap: 20px;
        align-items: center;
    }
    .section-six .container .row-1 img {
        display: none;
    } 
}

@media (max-width:975px) {
    .section-six .container .row-1 .text h2:hover::after {
        width: 100%;
    }
}

@media (max-width: 580px) {
    .section-six .container .row-1 {
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .section-six .container .row-1 .text h2 {
        text-align: center;
    }
}
@media (max-width: 260px) {
    .section-six {
        overflow: hidden;
    }
}
/* End Section Six */

/* Start Section Seven (Footer) */
footer {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 58px;
}

footer .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 74px;
}

footer .container .row-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .container .row-1 .list {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

footer .container .row-1 .list h3 {
    font-size: 20px;
    font-weight: bold;
    color: #1C1C1D;
    pointer-events: none;
}

footer .container .row-1 .list ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

footer .container .row-1 .list ul li a {
    font-size: 16px;
    font-weight: 400;
    color: #7A7A7E;
    transition: all 200ms ease;
}


footer .container .row-1 .list ul li a:hover {
    color: #1C1C1D;
}

footer .container .row-1 .last-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 230px;
}

footer .container .row-1 .last-list h3 {
    font-size: 20px;
    font-weight: bold;
    color: #1C1C1D;
    pointer-events: none;
}

footer .container .row-1 .last-list p {
    font-size: 16px;
    color: #7A7A7E;
    font-weight: 400;
    text-align: left;
}

footer .container .row-1 .last-list .icons {
    display: flex;
    gap: 16px;
}

footer .container .row-1 .last-list .icons img {
    transition: all 150ms linear;
    width: 35px;
    border-radius: 6px;
    cursor: pointer;
}

footer .container .row-1 .last-list .icons img:hover {
    transform: scale(1.3);
    box-shadow: 0px 0px 10px 4px #cacaca63;
    border: 1px solid #cacaca61;
}

footer .container .row-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    pointer-events: none ;
}

footer .container .row-2 p {
    font-size: 14px;
    font-weight: 400;
    color: #C2C2C2;
}

@media (max-width: 780px) {
    footer .container .row-1 {
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 35px;
    }
    footer .container .row-1 .last-list {
        align-items: center;
        justify-content: center;
    }
    footer .container .row-1 .last-list p {
        text-align: center;
    }
}
@media (max-width: 420px) {
    footer .container .row-1 .list {
        width: 150px;
    }
    footer .container .row-1 .last-list {
        width: 150px;
        align-items: flex-start;
    }
    footer .container .row-1 .last-list p {
        text-align: left;
    }
}
@media (max-width: 365px) {
    footer .container .row-1 .list {
        display: none;
    }
    footer .container .row-1 .last-list {
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    footer .container .row-1 .last-list p {
        text-align: center;
    }
    footer .container .row-2 {
        flex-direction: column;
    }
}
@media (max-width: 180px) {
    footer {
        overflow: hidden;
    }
}
/* End Section Seven (Footer) */
