/* Start Variables */

/* End Variables */

/* Start Global Rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

/* Small Screen */
@media (min-width: 576px) {
    .container {
        width: 562px;
    }
}

/* Medium Screen */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Large Screen */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* X-Large Screen */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* XX-Large Screen */
/* @media (min-width: 1400px) {
    
} */
/* End Global Rules */

/* Start Section One */
/* ====Start Nav==== */
.section-one {
    background-color: #E6F0FF;
    height: 736px;
}

.section-one .container{
    padding-top: 38px;
}

.section-one .container nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-one .container nav .logo-menu {
    display: flex;
    align-items: center;
    gap: 65px;
}

.section-one .container nav .btns .toggle-menu {
    display: none;
    color: #0F1B4C;
    font-size: 24px;
}

.section-one .container nav .logo-menu ul{
    display: flex;
    gap: 30px;
}

.section-one .container nav .logo-menu ul li a {
    text-decoration: none;
    color: #4F5361;
    font-size: 14px;
    font-weight: 500;
}

.section-one .container nav .btns {
    display: flex;
    align-items: center;
}

.section-one .container nav .btns a{
    color: #0F1B4C;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 18px;
}

.section-one .container nav .btns .two {
    color: #FFFFFF;
    background-color: #0F1B4C;
    border-radius: 8px;
    width: 98px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ====End Nav==== */
/* ====Start Hero==== */
.section-one .container .hero {
    display: flex;
    gap: 67px;
    justify-content: space-between;
}

.section-one .container .hero .col-1 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 130px;
}

.section-one .container .hero .col-1 h5 {
    max-width: 250px;
    color: #687690;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.section-one .container .hero .col-1 h1 {
    width: 559px;
    max-width: 559px;
    color: #000336;
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 30px;
}

.section-one .container .hero .col-1 h6 {
    max-width: 550px;
    color: #5A6473;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 40px;
}
.section-one .container .hero .col-1 a {
    color: #FFFFFF;
    background-color: #0F1B4C;
    font-size: 13px;
    font-weight: 500;
    max-width: 170px;
    height: 50px;
    border-radius: 12px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-one .container .hero .col-2 {  
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-one .container .hero .col-2 img {
    width: 575px;
    margin-top: 6px;
}

@media (max-width: 1260px) {
    .section-one  {
        height: 600px;
    }
    .section-one .container .hero .col-2{
        margin-top: 0;
    }
    .section-one .container .hero .col-2 img {
        width:  390px;
    }
    .section-one .container .hero .col-1 {
        margin-top: 100px;
    }
}
@media (max-width: 1100px) {
    .section-one .container .hero .col-1 h1 {
        font-size: 50px;
        max-width: 450px;
    }
    .section-one .container .hero .col-1 h6 {
        font-size: 14px;
    }
}
@media (max-width: 1000px) {
    .section-one {
        height: 550px;
    }
    .section-one .container nav .logo-menu {
        gap: 30px;
    }
    .section-one .container .hero .col-2{
        margin-top: 0;
    }
    .section-one .container .hero .col-2 img {
        width: 292px;
        height: 400px;
    }
    .section-one .container .hero .col-1 h1 {
        font-size: 35px;
        max-width: 400px;
    }
}
@media (max-width: 795px) {
    .section-one {
        height: 550px;
    }
    .section-one .container nav .logo-menu {
        gap: 15px;
    }
    .section-one .container .hero .col-2 img {
        width: 240px;
    }
    .section-one .container .hero .col-1 h5 {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .section-one .container nav .logo-menu ul {
        display: none;
    }
    .section-one .container nav .btns a{
        display: none;
    }
    .section-one .container nav .btns .two{
        display: none;
    }
    .section-one .container nav .btns .toggle-menu{
        display: flex;
    }
    .section-one .container .hero .col-1 h1 {
        max-width: 299px;
        padding-bottom: 15px;
        font-size: 34px;
    }
    .section-one .container .hero .col-1 h6 {
        padding-bottom: 20px;
        max-width: 280px;
    }
}
@media (max-width: 680px) {
    .section-one .container .hero {
        gap: 20px;
    }
}
@media (max-width: 585px) {
    .section-one  {
        height: 740px;
    }
    .section-one .container .hero {
        flex-direction: column-reverse;
        align-items: center;
        gap: 0px;
    }
    .section-one .container .hero .col-1 {
        margin: 0;
        align-items: center;
    }
    .section-one .container .hero .col-1 h1 {
        text-align: center;
    }
    .section-one .container .hero .col-1 h6 {
        text-align: center;
    }
    .section-one .container .hero .col-1 a {
        width: 100%;
        min-width: 90%;
    }
    .section-one .container .hero .col-2 {
        max-height: 360px;
    }
    .section-one .container .hero .col-2 img {
        margin-top: -60px;
        width: 220px;
        max-height: 350px;
    }

}
@media (max-width: 315px) {
    .section-one {
        max-height: 645px;
    }
    .section-one .container .hero .col-2 img {
        padding-top: 60px;
        width: 180px;
    }
    .section-one .container .hero .col-1 h5 {
        font-size: 14px;
    }
    .section-one .container .hero .col-1 h1 {
        max-width: 200px;
        font-size: 20px;
    }
    .section-one .container .hero .col-1 h6 {
        font-size: 12px;
        min-height: 140px;
        max-width: 245px;
    }
}
/* ====Start Hero==== */
/* End Section One */

/* Start Section two */
.section-two {
    margin-top: 65px;
}

.section-two .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
}

.section-two .container .row-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 43px;
}

.section-two .container .row-1 .col-1{
    display: flex;
    flex-direction: column;
    gap: 23px;
    min-width: 200px;
}

.section-two .container .row-1 .col-1 img {
    width: 107px;
}

.section-two .container .row-1 .col-1 p {
    font-size: 16px;
    color: #7D8589;
    font-weight: 500;
}

.section-two .container .row-1 .col-2{
    display: flex;
    flex-direction: column;
    gap: 14.5px;
    align-items: flex-end;
    min-width: 260px;
}

.section-two .container .row-1 .col-2 .stars {
    display: flex;
    flex-direction: row;
}

.section-two .container .row-1 .col-2 .stars .star-icon{
    width: 20.3px;
    height: 18.85px;
    color: #ffc259;
}

.section-two .container .row-1 .col-2 p{
    font-size: 16px;
    color: #7D8589;
    font-weight: 500;
    text-align: right;
}

.section-two .container .row-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 41px;
}

.section-two .container .row-2 img{
    transition: all 250ms ease;
    width: 110px;
}

.section-two .container .row-2 img:hover {
    transform: scale(1.15);
}

@media (max-width: 975px) {
    .section-two .container .row-2 {
        gap: 1rem;
    }
    .section-two .container .row-2 img{
        width:100px;
    }
}
@media (max-width: 768px) {
    .section-two .container .row-1 {
        gap: 2rem;
    }
    .section-two .container .row-2 {
        gap: 1rem;
    }
    .section-two .container .row-2 img{
        width:80px;
    }
    .section-two .container .row-1 .col-1 {
        width: 100%;
    }
    .section-two .container .row-1 .col-2 {
        width: 100%;
    }
}
@media (max-width: 590px) {
    .section-two .container {
        gap: 60px;
    }
    .section-two .container .row-2 {
        display: grid;
        grid-template-columns: 25% 25% 25%;
        justify-content: center;
    }
}
@media (max-width: 590px) {
    .section-two {
        margin-top: 30px;
    }
    .section-two .container .row-1 {
        flex-direction: column;
    }
    .section-two .container .row-1 .col-1 {
        align-items: center;
    }
    .section-two .container .row-1 .col-2 {
        align-items: center;
    }
}
@media (max-width: 375px) {
    .section-two {
        margin-top: 20px;
        overflow: hidden;
    }
    .section-two .container {
        gap: 45px;
    }
    .section-two .container .row-1 .col-1 {
        max-width: 250px;
        text-align: center;
    }
    .section-two .container .row-1 .col-2 {
        max-width: 220px;
    }
    .section-two .container .row-2 {
        grid-template-columns: 50%;
        justify-items: center;
    }
}
/* End Section two */

/* Start Section Three */
.section-three {
    margin-top: 40px;
    padding-top: 79px;
    padding-bottom: 79px;
}

.section-three .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-three .container .row-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
}

.section-three .container .row-1 span {
    width: 41px;
    height: 4px;
    background-color: #000339;
    border-radius: 12px;
}

.section-three .container .row-1 h1{
    margin-top: 10px;
    font-size: 35px;
    font-weight: 700;
    color: #000339;
    text-align: center;

}

.section-three .container .row-1 p {
    margin-top: 20px;
    width: 450px;
    text-align: center;
    font-size: 16px;
    color: #5A6473;
}

.section-three .container .row-2 {
    margin-top: 70px;
    display: flex;
    align-items: center;
    gap: 140px;
}

.section-three .container .row-2 .col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-three .container .row-2 .col-1 img {
    width: 47px;
}

.section-three .container .row-2 .col-1 h3 {
    font-size: 20px;
    font-weight: 500;
    color: #3B3C45;
    margin-top: 26px;
    text-align: center;
}

.section-three .container .row-2 .col-1 a {
    font-size: 14px;
    font-weight: 600;
    color: #0689FF;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
}

.section-three .container .row-2 .col-1 a img {
    width: 24px;
}

.section-three .container .row-3 {
    margin-top: 48px;
    background: #0F1B4C;
    min-width: 170px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px; 
}

.section-three .container .row-3 a{
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #FFFFFF;
}

@media (max-width: 565px){
    .section-three{
        padding-top: 50px;
    }
    .section-three .container .row-2 {
        gap: 50px;
    }
}
@media (max-width: 475px) {
    .section-three{
        margin-top: 0px;
        padding-top: 40px;
    }
    .section-three .container .row-1 p {
        width: 330px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .section-three .container .row-2 {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 350px) {
    .section-three{
        margin-top: 0px;
        padding-top: 40px;
    }
    .section-three .container .row-1 h1 {
        font-size: 30px;
    }
    .section-three .container .row-1 p {
        width: 250px;
    }
    .section-three .container .row-2 {
        gap: 30px;
    }
}
@media (max-width: 255px) {
    .section-three .container .row-1 h1 {
        font-size: 25px;
    }
    .section-three{
        margin-top: 0px;
    }
    .section-three .container .row-1 p {
        width: 180px;
    }
}
@media (max-width: 220px) {
    .section-three .container .row-1 h1 {
        font-size: 20px;
    }
    .section-three .container .row-1 p {
        font-size: 14px;
        width: 150px;
    }
    .section-three .container .row-3 {
        min-width: 150px;
    }
}
@media (max-width: 150px) {
    .section-three {
        overflow: hidden;
    }
    .section-three .container .row-1 h1 {
        width: 100px;
    }
    .section-three .container .row-1 p {
        width: 100px;
    }
    .section-three .container .row-3 {
        min-width: 120px;
    }
}
/* End Section Three */